{% extends 'base.html' %}
{% load static %}
{% block title %}Sheryl{% endblock %}

{% block styles %}
<style>
    :root {
      --color-primary: #272727;
      --color-secondary: #f4a261;
      --color-white: #ffffff;
      --color-black: #000;
      --color-grey0: #f8f8f8;
      --color-grey-1: #dbe1e8;
      --color-grey-2: #b2becd;
      --color-grey-3: #6c7983;
      --color-grey-4: #454e56;
      --color-grey-5: #1c1c1c;
      --color-grey-6: #12181b;
      --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.5);
    }
    
    .light-mode {
      --color-primary: #fdf5f5;         
      --color-secondary: #ffc1e3;       
      --color-white: #1c1c1c;           
      --color-black: #ffffff;            
      --color-grey0: #ffeff0;           
      --color-grey-1: #ffd5e6;          
      --color-grey-2: #ffaccf;           
      --color-grey-3: #f57f9d;          
      --color-grey-4: #ec5b7d;         
      --color-grey-5: #f9e2e5;           
      --color-grey-6: #edebe4;              
    }

    .theme-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 5%;
      right: 3%;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: var(--color-grey-4);
      cursor: pointer;
      position: fixed;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
      transition: all 0.1s ease-in-out;
    }
    .theme-btn:active {
      transform: translateY(-3px);
    }
    .theme-btn i {
      font-size: 1.4rem;
      color: var(--color-grey-2);
      pointer-events: none;
    }
    .theme-btn::after {
      content: attr(data-tooltip);
      position: absolute;
      left: -150px;
      top: 50%;
      transform: translateY(-50%);
      padding: 4px 8px;
      background-color: black;
      color: white;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }
    
    .theme-btn:hover::after {
      opacity: 1;
    }

    html {
      height: 100%;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      line-height: 1.6;
    }

    .message-content {
      margin-top: 10px;
      line-height: 1.4;
      color: var(--color-white);
    }

    @keyframes fade-in-move-up {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .messages-box {
      flex: 1;
      overflow-y: auto;
    }

    .messages-list {
      padding-left: 0;
    }

    .message-text {
      padding: 15px;
      border-radius: 5px;
      max-width: 80%;
    }
    
    .message-sender {
        margin-bottom: 5px;
        font-weight: 500;
    }
    
    .sent {
        background-color: var(--color-grey-3);
        color: var(--color-white);
        align-self: flex-end;
    }
    
    .received {
        background-color: var(--color-grey-4);
        color: var(--color-white);
        align-self: flex-start;
        
    }
    
    /* For animations (consider adding more animations based on your needs) */
    .message {
      opacity: 0;
      animation: fade-in-move-up 0.3s forwards;
    }

    .message-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: var(--color-grey-4);
    }

    .message-input {
      flex: 1;
      border-radius: 0;
      border-right: none;
      resize: none;
    }

    .btn-send {
      background-color: var(--color-grey-3); !important;
      border: 1px solid var(--color-grey-6);
      border-radius: 5px;
    }
    .btn-send i {
      font-size: 1.4rem;
      color: var(--color-grey0);
      pointer-events: none;
    }

    .chat-container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .message-avatar {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 5px;
    }
    .card-header{
      font-family: 'Segoe UI', sans-serif;
      color: var(--color-white);
      background-color: var(--color-grey-3) !important;
    }
    .card-body{
      background-color: var(--color-grey-5) !important;
    }

    @media (max-width: 600px) {
      .message-avatar {
        width: 40px;
        height: 40px;
      }
    }
  </style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    {% if user.is_authenticated %}
    <div class="card-header"><b>Welcome, {{user.username}} </b><a style="color: blue" href="logout">Logout</a></div>

    {% else %}
    <div class="card-header"><a style="color: blue" href="login">Login</a>   <a style="color: blue" href="register">Register</a></div>
    {% endif %}
    <div class="card-body messages-box">
      
      <ul class="list-unstyled messages-list">

        {% for chat in chats %}
          {% if chat.user == request.user %}<!-- Extra security check: make sure user that is currently logged in, so we can show. 
                                            to ensure that there's no data leak or no problem in showing the right message to the right user. -->
            <li class="message sent">
              <div class="message-text">
                <div class="message-sender">
                  <img class="message-avatar" src="{% static 'images/avatar.jpg' %}" alt="avatar">
                  <b>You</b>
                </div>
                <div class="message-content">
                  {{chat.message}}
                </div>
              </div>
            </li>   
            
            <li class="message received">
              <div class="message-text">
                <div class="message-sender">
                  <b>Sheryl</b>
                </div>
                <div class="message-content">
                  {{chat.response}}
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}

        <!-- Here is where the user's message (messageItem) will be appended -->
      </ul>
    </div>
    <br><br><br>
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <textarea class="form-control message-input" placeholder="Send a message..."></textarea>
      <div class="input-group-append">
        <button type="submit" class="btn btn-send"><i class="fa fa-paper-plane"></i></button>
      </div>
    </div>
  </form>
  <div class="theme-btn" data-tooltip="Dark Mode">
    <i class="fas fa-adjust"></i>
  </div>
</div>

<script>
  const token = "{{ token }}"; 
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');
  const themeBtn = document.querySelector('.theme-btn');

  themeBtn.addEventListener('click', () => {
    document.body.classList.toggle("light-mode");
    if (document.body.classList.contains('light-mode')) {
        themeBtn.setAttribute('data-tooltip', 'Light Mode');
    } else {
        themeBtn.setAttribute('data-tooltip', 'Dark Mode');
    }
  });

  messageInput.addEventListener('keydown', (event) => {
    if (event.key === 'Enter') {
      if (!event.shiftKey) {
        event.preventDefault();
        // If the Shift key is not being pressed, submit the form.
        messageForm.dispatchEvent(new Event('submit'));
      }
      // If Shift is being pressed along with Enter, let the default happen (newline).
    }
  });

  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();   // prevent refreshing the current page when the submit button is clicked

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }
    console.log(message);

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
      <div class="message-text">
        <div class="message-sender">
            <img class="message-avatar" src="{% static 'images/avatar.jpg' %}" alt="avatar">
            <b>You</b>
        </div>
        <div class="message-content">
          ${message.replace(/\n/g, '<br/>')}
        </div>
      </div>`;
    messagesList.appendChild(messageItem);

    messageInput.value = '';

    fetch('/api/chat/', {    
      method: 'POST',
      headers: {  'Content-Type': 'application/json', 
                  'Authorization': 'Token ' + token,
                  'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
      },
      body: JSON.stringify({
        'message': message,
      })
    })
      .then(response => {
        if (!response.ok) { throw new Error(response.status) }
        return response.json()
      })
      .then(data => {
        const response = data.response;       // data is passed back from the service
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>Sheryl</b>
            </div>
            <div class="message-content">
              ${response}
            </div>
        </div>
        `;
        messagesList.appendChild(messageItem);
      
      })
      .catch(error => console.error('Error:', error));
  });
</script>
{% endblock %}